@model MappingList.Models.PerformanceCellsUpdated

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PerformanceCellsUpdated</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceCell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceCell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubPerformanceCell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubPerformanceCell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubSubPerformanceCell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubSubPerformanceCell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Division)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subdivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subdivision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scheme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scheme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Years)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Years)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Splits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Splits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubDivisionExclude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubDivisionExclude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentExclude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentExclude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerExclude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerExclude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassExclude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassExclude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchemeExclude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchemeExclude)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Pckey" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
